<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TIS-100.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>022A2F901B5E923F0010FB6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>022A2FA41B5E923F0010FB6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>022A2FAF1B5E923F0010FB6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
